<wrapper>
    <p class="fade-in delay-1">My name is Michał Kulawik. I am Frontend Developer based in Silesia, Poland.</p>
    <p class="mt-4 fade-in delay-2">Im passionate about web programming, web technologies and 2D / 3D graphics.</p>

    <p class="mt-4 fade-in delay-3">My journey has begun at 2018 and it still amazes me how many things we can
        create with code...</p>

    <p class="mt-4 fade-in delay-4">I am doing web development because i believe, that we can create better
        virtual
        environment for
        people that come after us...</p>
</wrapper>
