<div class="mb-5 p-2 navbar-gradient flex justify-between">
    <div>
        @for(item of navItems; track item) {
        <button [routerLink]="item.url"
                class="text-white p-1 text-orbitron navbar-button text-lg"
                routerLinkActive="underline"
                (click)="moveCamera(item.coords)">
            {{ item.name }}
        </button>
        }
    </div>

    <div>
        <toggle-button class="block mb-1"
                       (toggleEvent)="toggleRendering($event)"
                       [initialState]="rendering"
                       description="Toggle Rendering"></toggle-button>

        <toggle-button (toggleEvent)="togglePostProcessing($event)"
                       [initialState]="postProcessing"
                       description="Toggle post-processing"></toggle-button>
    </div>
</div>
