<a [href]="project.projectUrl">
    <div class="p-4 flex flex-col justify-between h-full">
        <div class="bg-neutral-400 max-h-60 overflow-hidden">
            <img class="w-full object-center"
                 [src]="project.imageUrl"
                 alt="image">
        </div>

        <div>
            <div class="mt-4">
                <p>{{project.name}}</p>
                <p class="text-sm">{{project.description}}</p>
            </div>

            <div class="mt-4">
                <a [href]="project.githubUrl"
                   class="p-2  text-sm rounded-xl neon-button neon-border">Check on Github</a>
            </div>
        </div>
    </div>
</a>
