@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

:root {
  --main-color: #55ff88;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: 5s ease fadeIn;
    animation-fill-mode: forwards;
  }

  @for $i from 1 through 10 {
    .delay-#{$i} {
      animation-delay: #{$i * 500}ms;
    }
  }
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Regular.ttf"),
    url("./assets/fonts/Orbitron-Bold.ttf");
}

.text-orbitron {
  font-family: "Orbitron";
  text-shadow: 2px 2px 5px var(--main-color), -2px -2px 5px var(--main-color);
}
